build
build_webpack
node_modules

package-lock.json
yarn.lock

# .env is shared & all others ignored
.env.*

# backup/pending files
*~
~*
*_

.notes
.vscode

.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# jess dev
scripts/workflow
scripts/reset_truffle_dev
