@import "vars"
// @import "main-section"

h4.dass-statement
  font-size: 20pt
  margin: 5pt 20pt

main .dass
  position: relative
  background: $white
  section
    color: $black
    form
      background: $white
      .dass-keys
        position: sticky
        margin-left: 42px
        margin-bottom: 21px
        h4
          font-size: 18pt
          font-weight: lighter
      .pure-control-group
        label, input
          padding-left: 4em
          color: $black

.dass > form.pure-form
  .pure-control-group, h4.form-control
    font-weight: 300
  .pure-control-group
    input, label
      margin-left: 40px
  h4.form-control
    margin-left: 1em
    font-size: 18pt

  input[type="checkbox"],
  input[type="radio"]
    position: absolute
    opacity: 0
    z-index: -1

  label
    position: relative
    display: inline-block
    padding: 0 0 0 2em
    height: 1.5em
    line-height: 1.5
    cursor: pointer

  label::before,
  label::after
    position: absolute
    top: 0
    left: 0
    display: block
    width: 1.5em
    height: 1.5em

  label::before
    content: " "
    border: 2px solid #bdc3c7
    border-radius: 20%

  /* Checkbox */
  input[type="checkbox"] + label::after
    content: "\2714"
    color: #2c3e50
    line-height: 1.5
    text-align: center

  /* Radio */
  input[type="radio"] + label::before
    border-radius: 50%

  input[type=radio] + label::after
    content: " "
    top: .25em
    left: .25em
    width: 1em
    height: 1em
    background: #fff
    border: .2em solid #2c3e50
    border-radius: 50%

  /* :checked */
  input[type="checkbox"]:checked + label::before,
  input[type="radio"]:checked + label::before
    background: #fff
    border-color: #fff

  input[type="checkbox"] + label::after,
  input[type=radio] + label::after
    -webkit-transform: scale(0)
    -ms-transform: scale(0)
    -o-transform: scale(0)
    transform: scale(0)

  input[type="checkbox"]:checked + label::after,
  input[type=radio]:checked + label::after
    -webkit-transform: scale(1)
    -ms-transform: scale(1)
    -o-transform: scale(1)
    transform: scale(1)

  /* Transition */
  label::before,
  label::after
    -webkit-transition: .25s all ease
    -o-transition: .25s all ease
    transition: .25s all ease

.dass .results
  span#scores
    position: relative
    display: block
    width: 100%
    span
      position: absolute
      top: 14px
      font-weight: bold
      font-size: 125%
      color: $purple
    span#depression
      left: 250px
    span#anxiety
      left: 432px
    span#stress
      left: 600px
  img
    border: 3px solid $purple
