@import "vars"
// @import "main-section"

h4.dass-statement
  font-size: 20pt
  margin: 5pt 20pt

main
  position: relative
  background: $white
  section
    color: $black
    form
      background: $white
      .dass-keys
        // position: sticky
        margin-left: 42px
        margin-bottom: 21px
        h4
          font-size: 18pt
          font-weight: lighter
      .pure-control-group
        label, input
          padding-left: 4em
          color: $black
