footer {
  position: relative;
  left: 0;
  margin: 2em 0px 0px 0px;
  width: 100%;
  clear: both;
  background: #eeeeee;
  border: 2pt solid #555;
  border-radius: 12px;
  padding: 18px;
  min-height: 140px;
}
