@import "vars"

main .wellness
  padding-right: 3em
  background: $white
  form
    padding: 0.5em 1em
    position: relative
    @import "checkbox-radio-inputs"
    .wellness-statement
      width: 45%
      padding: 1em
      .radio-group
        display: inline
