@import "vars"

main .wellness
  padding-right: 3em
  background: $white
  // fieldset legend
  //   background: $blue
  //   border: 4px solid $blue
  //   border-radius: 8px
  //   font-size: 14pt
  //   color: $white
  form.wellness-form
    padding: 1em 2em
    position: relative
    label
      width: 40%
      text-align: right
      margin: auto
      display: inline
    label > input
      margin: 0.5em 1em
      right: 0
    button
      margin-top: 1em
      display: block
