@import 'css/vars'

html, button, input, select, textarea, .pure-g [class *= "pure-u"]
  font-family: $main-fonts

body
  background: $white
  color: $black

#root
  margin: 0 auto
  max-width: 1200px
